.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
   
;
}
.botonOdontologos, .botonPacientes{
     outline: none;
    text-decoration: none !important;
    margin: 2vh 0;
}
